[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/backslashxx/KernelSU.git
[submodule "Baseband-guard"]
	path = security/baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
