[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU.git
[submodule "Baseband-guard"]
	path = security/baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
